      /* Estilos para la imagen principal */
      #advantages .uso-principal {
          background-image: url('../img/advantages/before.jpg'); /* Ruta de la imagen */
          background-size: cover;
          background-position: center;
          height: 400px; /* Ajusta la altura según sea necesario */
          transition: background-image 0.3s ease-in-out;
      }

      /* Al pasar el puntero, cambia la imagen */
      #advantages .uso-principal:hover {
          background-image: url('../img/advantages/after.jpg'); /* Ruta de la imagen al pasar el puntero */
      }
      @media (max-width: 1024px) {
      #advantages .uso-principal {
        background-image: url('../img/advantages/before.jpg');
        background-size: cover;
        background-position: center;
        height: 400px; /* Ajusta la altura según sea necesario */
        transition: background-image 0.3s ease-in-out;

      }
      #advantages .uso-principal:active {
          background-image: url('../img/advantages/after.jpg'); /* Ruta de la imagen al pasar el puntero */
      }
    }